*{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 900px) and (max-width: 1600px) {
    body{
      overflow: hidden;
    }
    .horloge{
      transform: scale(.6);
    }
    .mapMonde{
      bottom: 0;
    }

}

//ecran plus petit que 800 px
@media (max-width:800px) and (min-width:400px) {
  .horloge{
    transform: scale(.6);
  }
  //placement monde
  .mapMonde{
    top: 100vh;
  }
}

// @media (orientation: landscape){
//   .horloge{
//     transform: scale(.1);
//   }
//   .mapMonde{
//     transform: scale(.3);
//   }
// }

body{
  height: 100vh;
  // overflow: hidden;
}

.horloge{
  transform-origin: 5vw 10vh;
}


//placement des aiguilles et de la baguette
#heure{
    position: absolute;
    top: 342px;
    left: 462px;
    z-index: 3;
    transition: all 0.5s ease-in-out;
}
#minute{
    position: absolute;
    top: 244px;
    left: 462px;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
#seconde{
    position: absolute;
    top: 116px;
    left: 467px;
    z-index: 4;
    transition: all 0.5s ease-in-out;
}

#baguette{
    position: absolute;
    top: 400px;
    left: 400px;
    z-index: 5;
    transform: scale(0.5);
}

//placement monde
.mapMonde{
  position: absolute;
  right: 0;
  span{
      position: absolute;
  }
  #origin{
      top: 0;
      left: 0;
  }
  #fin{
      top: 0;
      left: 100%;
  }
}

//placement aiguille
#pointer{
  position: absolute;
  cursor: grabbing;
  left: 43%;
  top: -40px;
  transition: all 0.2s ease-in-out;
}
#map{
  // margin-right: 3vw;
  margin-bottom: 5vh;
  &:hover{
    cursor: crosshair;
  }
}

input{
    background: none;
    background-image: url("data/reload.png");
    background-color: none;
    background-size: contain;
    border: none;
    outline: none;
    width: 8vmin;
    height: 8vmin;
    transition: all .5s linear;
    &:hover{
      transform: rotate(-360deg);
    }
}

.container{
  background: rgb(214,214,214); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgb(214,214,214) 0%, rgb(255,255,255) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgb(214,214,214) 0%,rgb(255,255,255) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgb(214,214,214) 0%,rgb(255,255,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
