$height-titre : 15vh;
$height-jeu : 100vh - $height-titre;
$caseh : 20vh; $casew: 15vmax;//taille des case en affichage portrait et paysages
$color : black;
$background-color : silver;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#titre{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    p{
      font-family: 'Denk One', sans-serif;
      font-size: 200%;
    }
}
#qui{
    height: 5vh;
}

#jeu{
    width: 100vw;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    table{
        border: 1px solid red;
        min-height: 100%;
        td{
            border: 1px solid black;
        }
    }
}

.score{
    margin: $height-jeu/2-20 5vw;
    max-width: 5vw;
}

.forme{
    display: none;
}

#player{
    border-radius: 50% 50%;
    position: relative;
    transform: scale(1.3);
    &::before{
        background: $color;
        position: absolute;
        display:block;
        content:'';
        width: 70%;
        height: 6%;
        top: 47%;
        left: 15%;
        transform: rotate(45deg);
    }
    &::after{
        background: $color;
        position: absolute;
        display:block;
        content:'';
        width: 6%;
        height: 70%;
        left: 47%;
        top: 15%;
        transform: rotate(45deg);
    }
}

#ia{
    margin: auto;
    padding: 5px;
    height: 70%;
    width: 70%;
    border: 2px solid $color;
    border-radius: 100%;
    background-color: $background-color;

}
#faute{
    display: none;
}

@media (orientation: landscape) {
    td, .case{
      height: $caseh;
      width: $caseh;
    }
    .plateau{
      width: 4*$caseh;
    }
    #player{
      height: $caseh - 2;
      width: $caseh - 2;
    }
}

@media (orientation: portrait){
  td, .case{
    height: $casew;
    width: $casew;
  }
  .plateau{
    width: 4*$casew;
  }
  #player{
    height: $caseh - 2;
    width: $caseh - 2;
  }

}
@media (max-width:400px){
    td{
      min-width: 50px;
      min-height: 50px;
    }
}
