*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#topBar{
    color: white;
}

#toptop{
    padding-left: 5%;
    height: 2.7em;
    background-color: #4B4F4F;
}
#toptop p{
    font-size: 2.5em;
    font-family: 'Yellowtail',fantasy;
}

#sousTop{
    padding-left: 10%;
    height: 2.6em;
    background-color: #AAB2B2;
}
#sousTop p{
    color: #E7F2F1;
    font-size: 2.5em;
    font-family: 'Satisfy',cursive;
}


#container{
    width: 100vw;
    max-width: 100vw;
    padding: 3% 2%;
    display: flex;
    flex-wrap: wrap;
}

.site{
    margin-top: 60px;
    margin-right: 3vw;
    width: 40vh;
    height: 40vh;
    text-align: center;
}

.pres{
    position: absolute;
    text-align: center;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s linear;
    max-width: 20vmax;
    padding: 1em 2.5vw;
    border: 1px dotted grey;
}

.site:hover > div{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.site img{
    height: 40vh;
    width: 40vh;
    /*width: auto;*/
}

.contour{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}


/*footer*/
footer{
  height: 20vh;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.53) 10%, rgba(0,0,0,0.8) 44%, rgba(0,0,0,0.8) 67%, rgba(0,0,0,0.8) 98%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.53) 10%,rgba(0,0,0,0.8) 44%,rgba(0,0,0,0.8) 67%,rgba(0,0,0,0.8) 98%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.53) 10%,rgba(0,0,0,0.8) 44%,rgba(0,0,0,0.8) 67%,rgba(0,0,0,0.8) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
  color: white;
}

.contact{
  padding-top: 5vh;
  display: flex;
  justify-content: space-around;
}


footer a{
  text-decoration: none;
  color: rgb(97, 226, 198);
}

footer a:hover{
  color: rgb(68, 134, 244);
  text-shadow: 1px 1px rgb(0, 95, 254);
}
footer a:active{
    color: rgb(97, 226, 198);
    text-decoration: none;
}

section img{
  height: 6vh;
  width: 6vh;
}
