*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  width: 100%;
  height: 100vh;
}
/*mise en page top*/
.menuTop{
  font-family: 'Lobster', sans-serif;
  font-size: 30px;
  width: 100%;
  height: 50px;
  background-color:  #24554E;
  border-bottom: 5px solid #342c2c;
}
.menuTop p{
  max-width: 500px;
  padding: 0px 0px 0px 15px;
}

.chargement{
    position: absolute;
    transition: all 1s linear;
    opacity: 0;
    height: 400px;
    width: 350px;
}
.chargement:hover{
    opacity: 0.9;
}
.chargement img{
    height: 100px;
    width: 100px;
    top: 150px;
    left: 125px;
}
.cercle1{
    position: absolute;
    animation: rotation1 5s infinite linear;

}
.cercle2{
    position: absolute;
    animation: rotation1 3s infinite linear;
}
.cercle3{
    position: absolute;
    animation: rotation1 1s infinite linear;
}

@keyframes rotation1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.menuTop img{
    z-index: 2;
    position: absolute;
    left:40%;
    top: 0px;
    filter: invert(100%);
    width: 60%;
    height: 80px;
}


/*Section des articles*/
.article{
  z-index: 1;
  background-color: #17554C;
  height: 100%;
  width: 100%;
}

#centrage{
  position: relative;
  display: flex;
  overflow: auto;
  background-color:  #552917;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 30px;
  height: 80%;
  min-width: 85%;
  text-align: center;
  border: 1px inset grey;
  box-shadow: 5px 5px 5px white, -5px 5px 5px white;
  border-radius: 15px;
}

#centrage p{
  height: 30px;
}


#premierePage{
  z-index: 3;
  max-height: 430px;
  margin-left: 30px;
  width: 350px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

#premierePage:hover {
  transform: scale(1.1);
}

.imgArt{
  height: 400px;
  width: 350px;
}


#deuxiemePage{
  z-index: 3;
  max-height: 430px;
  width: 350px;
  background-color: black;
  color: white;
  margin-left: 20px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

#deuxiemePage:hover{
  transform: scale(1.1);
}

#troisiemePage{
  z-index: 3;
  max-height: 430px;
  width: 350px;
  background-color:  #b2b2b2;
  color:  #4e4e4e;
  margin-left: 20px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

#troisiemePage:hover{
  transform: scale(1.1);
}

.shadow{
  /*box-shadow: 4px 0px 5px black, -4px -0px 5px black, 0px -4px 5px black, -0px -4px 5px black;*/
}

.shadow:hover{
  box-shadow: 4px 0px 5px skyblue, -4px -0px 5px skyblue, 0px -4px 5px skyblue, -0px -4px 5px skyblue;
}
