*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
}

#topBar{
    color: white;
}

#toptop{
    padding-left: 5%;
    height: 2.7em;
    background-color: #4B4F4F;
}
#toptop p{
    font-size: 2.5em;
    font-family: 'Yellowtail',fantasy;
}

#sousTop{
    padding-left: 10%;
    height: 2.6em;
    background-color: #AAB2B2;
}
#sousTop p{
    color: #E7F2F1;
    font-size: 2.5em;
    font-family: 'Satisfy',cursive;
}


.site{
    
}
