*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
}
body{
  width: 100%;
  height: 100vh;
}
/*mise en page top*/
.menuTop{
  font-family: 'Lobster', sans-serif;
  font-size: 30px;
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: 5px solid #342c2c;
}
.menuTop p{
  max-width: 500px;
  padding: 0px 0px 0px 15px;
}

.chargement{
    position: absolute;
    transition: all 1s linear;
    opacity: 0;
    height: 400px;
    width: 350px;
}
.chargement:hover{
    opacity: 0.9;
}
.chargement img{
    height: 100px;
    width: 100px;
    top: 150px;
    left: 125px;
}
.cercle1{
    position: absolute;
    animation: rotation1 5s infinite linear;

}
.cercle2{
    position: absolute;
    animation: rotation1 3s infinite linear;
}
.cercle3{
    position: absolute;
    animation: rotation1 1s infinite linear;
}

@keyframes rotation1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.menuTop img{
    z-index: 2;
    position: absolute;
    left:40%;
    top: 0px;
    width: 60%;
    height: 80px;
}


/*Section des articles*/
.article{
  z-index: 1;
  background-color: lightgrey;
  height: 100%;
  width: 100%;
}

#centrage{
  position: relative;
  display: flex;
  overflow: auto;
  background-color:  white;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 30px;
  height: 80%;
  min-width: 85%;
  text-align: center;
  border: 1px inset grey;
  /*box-shadow: 5px 5px 5px white, -5px 5px 5px white;*/
  border-radius: 15px;
}

#centrage p{
  height: 30px;
}

#premierePage{
  padding: 5px;
  background-color: black;
  z-index: 3;
  max-height: 430px;
  margin-left: 30px;
  width: 350px;
  color: white;
  /*background-color: white;*/
  transition: all 0.5s ease-in-out;
  /*border: 2px solid black;*/
}

#premierePage:hover {
  transform: scale(1.1);
}

.imgArt{
  height: 400px;
  width: 350px;
}


#deuxiemePage{
  z-index: 3;
  max-height: 430px;
  width: 350px;
  background-color: black;
  color: white;
  margin-left: 20px;
  transition: all 0.5s ease-in-out;
}

#deuxiemePage:hover{
  transform: scale(1.1);
}

#troisiemePage{
  z-index: 3;
  height: 430px;
  width: 350px;
  background-color: #b2b2b2;
  color:  #4e4e4e;
  margin-left: 20px;
  transition: all 0.5s ease-in-out;
}

#troisiemePage:hover{
  transform: scale(1.1);
}

.shadow{
  box-shadow: 4px 0px 0px black, -4px -0px 0px black, 0px -4px 0px black, -0px -4px 0px black;
}

.shadow:hover{
  box-shadow: 4px 0px 5px black, -4px -0px 5px black, 0px -4px 5px black, -0px -4px 5px black;
}

img{
=======
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
}

#topBar{
    color: white;
}

#toptop{
    padding-left: 5%;
    height: 2.7em;
    background-color: #4B4F4F;
}
#toptop p{
    font-size: 2.5em;
    font-family: 'Yellowtail',fantasy;
}

#sousTop{
    padding-left: 10%;
    height: 2.6em;
    background-color: #AAB2B2;
}
#sousTop p{
    color: #E7F2F1;
    font-size: 2.5em;
    font-family: 'Satisfy',cursive;
}


#container{
    width: 100vw;
    height: 100%;
    padding: 5% 7%;
}


.pres{
    text-align: center;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s linear;
    position: absolute;
    max-width: 18vw;
    padding: 1em 2.5vw;
}
.site{
  width: 20vw;
  height: 30vh;
  text-align: center;
}

.site:hover > div{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.site img{
    height: 90%;
    width: auto;
}

.contour{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
>>>>>>> a93320ffab989b1be957e47028a7263f11676d24
}
