*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
}

#topBar{
    color: white;
}

#toptop{
    padding-left: 5%;
    height: 2.7em;
    background-color: #4B4F4F;
}
#toptop p{
    font-size: 2.5em;
    font-family: 'Yellowtail',fantasy;
}

#sousTop{
    padding-left: 10%;
    height: 2.6em;
    background-color: #AAB2B2;
}
#sousTop p{
    color: #E7F2F1;
    font-size: 2.5em;
    font-family: 'Satisfy',cursive;
}


#container{
    width: 100vw;
    height: 100%;
    padding: 5% 7%;
}

.site{
    width: 20vw;
    height: 30vh;
    text-align: center;
}

.pres{
    text-align: center;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s linear;
    position: absolute;
    max-width: 18vw;
    padding: 1em 2.5vw;
}

.site:hover > div{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.site img{
    height: 90%;
    width: auto;
}

.contour{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}
