*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav{
  margin-top: 25px;
  background-image: linear-gradient(to bottom,white, silver);
  width: 100%;
  height: 50px;
  font-size: 25px;
  text-align: center;
}
nav a{
  margin: 0px 10px;
  padding: 28px 0px;
  color : black;
}

#disable{
  background-color:  #ffb200;
}

.container{
   background-color:  #060047;
   width: 100%;
   height: 100%;
   text-align: center;
}

img{
  height: 400px;
  width: 800px;
}
