*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav{
  margin-top: 30px;
  background-color: white;
  width: 100%;
  height: 60px;
  font-size: 25px;
  text-align: center;
}
nav a{
  margin: 0px 10px;
  padding: 31px 0px;
  color : black;
}
#disable{
  background-color:  #ffb200;
}

.container{
   background-color:  #060047;
   width: 100%;
   height: 100%;
   text-align: center;
}

img{
  height: 400px;
  width: 800px;
}
