*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav{
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

nav a {
    color: black;
    margin: 10px 10px;
}

#pre{
    color: orange;
}
.container img{
    height: 400px;
    width: 800px;
 }

.container{
  text-align: center;
}
