*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav{
    height: 30px;
    width: 100%;
    margin-top: 10px;
    margin-left: 20px
}

nav a {
    color: black;
    margin: 10px 10px;
    transition: all 0.5s linear;
    font-family: 'Pacifico', serif;
}

nav a:hover{
    color: orange;
}

nav a:nth-child(2){
    margin-left: 40px;
}

.pre{
    color: #AC5600;
    font-family: 'Bree Serif', serif;
}
.container img{
    height: 40%;
    width: 60%;
    min-height: 400px;
    min-width: 800px;
 }

.container{
    text-align: center;
}

.presentation{
    text-align: left;
    margin: auto;
    width: 45em;
}

.presentation ol{
    margin-left: 2em;

}

#disable{
    color: orange;
}

#disable{
    text-shadow: none;
}

table{
    border: 1px solid black;
}

tr{
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}

li{
    font-family: 'Bree Serif', serif;
}

ol{
    list-style-type: circle;
}
ul{
    list-style-type: none;
}
.base{
    position: relative;
    height: 10px;
    width: 60%;
    background-color: #68CAD0;
    animation: leftTranstitionBase 5s infinite ease-in-out;
}

.couche1{
    position: relative;
    height: 10px;
    width: 40%;
    background-color: #E6B55C;
    animation: leftTranstition1 5s infinite ease-in-out;
}

.couche2{
    position: relative;
    height: 10px;
    width: 30%;
    background-color: #E4881C;
    animation: leftTranstition2 5s infinite ease-in-out;
}

.couche3{
    position: relative;
    height: 10px;
    width: 20%;
    background-color: #E24429;
    animation: leftTranstition3 5s infinite ease-in-out;
}

.anim{
    width: 100%;
    overflow: hidden;
}

@keyframes leftTranstition1 {
    from{
      left: 0;
    }
    50%{
      left: 60%;
    }
    to{
      left: 0;
    }
}
@keyframes leftTranstition2 {
    from{
      left: 0;
    }
    50%{
      left: 70%;
    }
    to{
      left: 0;
    }
}
@keyframes leftTranstition3 {
    from{
      left: 0;
    }
    50%{
      left: 80%;
    }
    to{
      left: 0;
    }
}
@keyframes leftTranstitionBase {
    from{
      left: 0;
    }
    50%{
      left: 40%;
    }
    to{
      left: 0;
    }
}
